--
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    
    <style>
      /* CSS styles for ClustrMaps */
      #clustrmaps-container {
        width: 100%; /* Container width */
        max-width: 400px; /* Max width */
        margin: 20px auto; /* Center alignment and margin */
        text-align: center; /* Center text */
      }

      #clustrmaps {
        width: 100%; /* Full width of the container */
        height: 200px; /* Set the height */
        max-width: 100%; /* Ensure it doesn't exceed container width */
      }
    </style>
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

      <div id="clustrmaps-container">
      <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=Wymr5YrH24KUVmQ49DuH-Li4sMThIy0XROXv-tM7yLg"></script>
      </div>

    {% include scripts.html %}
  </body>
</html>

